<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Reservation for Table</title>
</head>
<body>
    <p>Edit Reservation for Table {{ reservation.table.number }}</p>
    <form method="post" class="form-group">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
    <a href="{% url 'my_reservations' %}">Cancel</a>
</body>
</html>