{% extends 'bookings/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid p-0">
    <!-- Banner Section -->
    <div class="banner">
        {% if "placeholder" in Banner.banner_image.url %}
        <img src="{% static 'images/restaurant-banner.jpg' %}" alt="placeholder image" class="img-fluid w-100">
        {% else %}
        <img class="card-img-top" src=" {{ Banner.banner_image.url }}"
        alt="{{ Banner.title }}">
      {% endif %}
    </div>

    <!--welcome message section-->
    <div class="container mt-5">
        <h1 class="text-center">Welcome to Mint Restaurant</h1>
        <p class="text-center">Check out our available tables below and book your spot!</p>
    
        <!-- Make Reservation Button -->
        <div class="text-center mb-4">
            <a href="{% url 'make_reservation' %}" class="btn btn-primary btn-lg">Make a Reservation</a>
        </div>
    </div>
</div> 
    
    {% endblock %}
   



