<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mint Restaurant</title>
</head>
<body>
    {% extends 'bookings/base.html' %}

    {% block content %}
    <div class="container mt-5">
        <h1 class="text-center">Welcome to Mint Restaurant</h1>
            <p class="text-center">Check out our available tables below and book your spot!</p>

            <div class="row">
                {% for table in tables %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Table {{ table.number }}</h5>
                            <p  class="card-text">Seats: {{ table.capacity }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
    </div>
        {% endblock %}
</body>
</html>


