<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <h1 class="text-center">Sign Up for Mint Restaurant</h1>
    <form method="post" class="form-group">
        {% csrf_token %}
        {{ form.as_p }}
        {% if errors %}
        <ul class="errorlist">
            {% for field, error_list in errors.items %}
                {% for error in error_list %}
                    <li>{{ field }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
        {% endif %}
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
    <p>Already have an account? <a href="{% url 'login' %}">Login here</a>.</p>
    </body>
</html>